
# Protected files
safe_*
**/safe_*/*

# IntelliJ metadata
_java-json-parser/.idea/*
.idea/*
*.iml

# Compiled java files
_java-json-parser/out/*

# Dependency directory - backend
node_modules/*

# Dependency directory - frontend
bower_components/*
public/vendor/*

# Database configuration
api/auth/utils/config.js

# Logs
log/*
*.log
bin/log/*