#IntelliJ metadata
_java-json-parser/.idea/*
.idea/*

#Compiled java files
_java-json-parser/out/*

#Dependency directory
node_modules/*

#database configuration
api/auth/utils/config.js

# Logs
log/*
*.log
bin/log/*