#IntelliJ metadata
_java-json-parser/.idea/*
.idea/*

#Compiled java files
_java-json-parser/out/*

#Dependency directory - backend
node_modules/*

#Dependency directory - frontend
bower_components/*
public/vendor/*

#database configuration
api/auth/utils/config.js

# Logs
log/*
*.log
bin/log/*