
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %> - About</title>
    <% include templates/styletemplate.ejs %>
    <% include templates/scripttemplate.ejs %>
<body>
<% include templates/header.ejs %>

<h1>Cannot find <%= url %></h1>

</body>
</html>