<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <% include templates/styletemplate.ejs %>
    <% include templates/scripttemplate.ejs %>
    <style>
        form{
            margin-top: 3rem;
        }
    </style>
</head>
<body>
<% include templates/header.ejs %>

<div class="row translate10">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
            <form class="panel-body" method="post" action="/api/solvedTasks/hasSolution">
                <h3>Welcome back !</h3>
                <p>
                    <label>ID:</label>
                    <input type = "text" class = "form-control inlined-element" name="st_id" placeholder = "Enter ID">
                </p>
                <p>
                    <label>hasSolution:</label>
                    <input type = "text" class = "form-control inlined-element" name="hasSolution" placeholder = "Enter SolEx">
                </p>
                <p>
                    <label>date:</label>
                    <input type = "text" class = "form-control inlined-element" name="completeddate" placeholder = "Enter date">
                </p>
                <p>
                    <input type="submit" class = "btn btn-default" value="getJson">
                </p>
            </form>
        </div>

        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-6">
                    <textarea class="form-control" rows="3" placeholder="json here" required></textarea>
                </div>
            </div>
        </div>

    </div>
</div>



</body>
</html>