<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <% include templates/styletemplate.ejs %>
    <% include templates/scripttemplate.ejs %>
    <style>
        form{
            margin-top: 6rem;
        }
    </style>
</head>
<body>
<% include templates/header.ejs %>
<form method="post" action="/remove">
    <p>
        <input type="submit" value="delete">
    </p>
</form>
</body>
</html>