<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %> - Help</title>

    <% include templates/styletemplate.ejs %>
    <% include templates/scripttemplate.ejs %>
</head>
<body>
<% include templates/header.ejs %>
<p class="translate10">&nbsp;</p>
<div class="container">
	<h1>Help - REST</h1>
</div>

</body>
</html>