<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title><%= title %> - Login</title>

    <% include templates/styletemplate.ejs %>
    <% include templates/scripttemplate.ejs %>
    <!--<style></style> -->
</head>
<body>
<% include templates/header.ejs %>

<div class="row translate10 login-container">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default z-depth-1">
            <form class="panel-body" method="post" action="/login">
                <h3>Welcome back !</h3>
                <p>
                    <label>EMAIL:</label>
                    <input type = "text" class = "form-control inlined-element bad-tooltip" name="user_email" placeholder = "Enter your email" id="email" onblur="validateEmail()" data-toggle="tooltip" data-placement="top" title="" data-original-title="Please enter a valid email" data-trigger="manual" data-html="false">
                </p>
                <p>
                    <label>PASSWORD:</label>
                    <input type = "password" class = "form-control inlined-element bad-tooltip" name="user_password" placeholder = "Enter your password" id="password" onblur="validatePassword()" data-toggle="tooltip" data-placement="top" title="" data-original-title="Please enter a password" data-trigger="manual" data-html="false">
                </p>
                <p>
                    <input type="submit" class = "btn btn-primary" value="Login">
                </p>
            </form>
        </div>
    </div>
</div>

<script src="/public/javascripts/validations.js"></script>

</body>
</html>