<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <% include templates/styletemplate.ejs %>
    <% include templates/scripttemplate.ejs %>
    <style>
        form{
            margin-top: 6rem;
        }
    </style>
</head>
<body>
    <% include templates/header.ejs %>
    <form method="post" action="/signup">
        <p>
            <label>First Name:</label>
            <input type="text" name="user_firstname">
        </p>
        <p>
            <label>Last Name:</label>
            <input type="text" name="user_lastname">
        </p>
        <p>
            <label>Email:</label>
            <input type="text" name="user_email">
        </p>
        <p>
            <label>Password:</label>
            <input type="text" name="user_password">
        </p>
        <p>
            <input type="submit" value="signup">
        </p>
    </form>


</body>
</html>